.main-body-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-line{
    text-decoration: none;
}


@media screen and (max-width:48rem){
    .line{
      text-align:center;
    }